.todo{
    width: 300px;
    display: flex;
    justify-content: space-between;
    background-color: red;
    padding: 20px;
    /* margin-top: 50px; */
}
.title{
    padding: 5px;
    /* background-color: red; */
}
.checked {
    text-decoration: line-through;
}
.icon{
    padding: 5px;
}